<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DefaultSchema" value="K3673" />
    <add key="path_logging" value="C:\Users\dtavella\Desktop\TP PalcoNet Frba 1.0 - 2C 2018\Logs " />
    <add key="filename_logging" value="TP_PalcoNet" />
    <add key="formatdate_logging" value="ddMMyyyy" />
    <add key="enabled_logging" value="true" />
    <add key="IsDevelopmentMode" value="true" />
    <!--habilita/deshabilita todos los tipos de logueo-->
    <add key="IsEntityFrameworkSqlOutputLoggingEnabledInDevelopmentMode" value="true" />
    <!--habilitar/deshabilita la salida de los sql de EF por el output-->
    <add key="IsEntityFrameworkSqlFileLoggingEnabledInDevelopmentMode" value="false" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>